* {
  margin: 0;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fdf5e6;
}

body,
.midDiv {
  background-color: #f2e8d9;
}

.hiddenLogos {
    display: none;
}

header {
  display: flex;
  height: 15vh;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.title {
  order: -1;
  margin-right: auto;
  margin-left: 5%;
  align-self: center;
  font-size: larger;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  width: 100%;
  height: 80vh;

  margin: 0 auto;

  position: relative
}

.homePage ::before {
  content: "";
  position: absolute;
  background-image: url(./mainimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  top: 0;
  left: 0;  
  z-index: -1;
}

.welcomeText {
  margin-left: 7%;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.description {
  margin-left: 7%;
  color: limegreen;
  font-weight: bold;
  font-size: 1.5rem;
}

.midDiv {
  height: 140vh;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.midDivText {
  height: 20%;
  margin-left: 7%;
  margin-top: 5%;
  font-size: 1.5rem;
}

.menuImageDiv {
  display: flex;
  justify-content: space-evenly;
}

.menuImageDiv img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.menuImages0 {
  background-image: url(mealpictures/menudo.jpg);
}

.menuImages1 {
  background-image: url(mealpictures/enchilada.jpg);
}

.menuImages2 {
  background-image: url(mealpictures/tacosalpastor.jpg);
}

.menuImages3 {
  background-image: url(mealpictures/salbutes.jpg);
}

footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #8b4513;
  height: 15vw;
}

.logoDiv,
.contactUs {
  margin-left: 5%;
  margin-top: 2%;
  height: 75%;
}

.logo {
  width: 7%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: darken;
}

.contactUs {
  display: flex;
  align-items: center;
}

[class^="socialMediaLogo"]:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;

}

.contactUs a {
    color: #4BB543;
}



/* last child of social media logo */
.contactUs img:last-of-type {
  margin-right: 5%;
}

.newsLetter {
  flex-grow: 4;
  color: limegreen;
  mix-blend-mode: darken;
  font-weight: bold;
  cursor: pointer;
}

[class^="otherLinks"] {
    flex: 0 0 auto;
    margin-right: 5%;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
}

button {
  padding: 10px;
  margin: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: auto;
}


/* menu page */
.antojitos, .entrees, .desserts, .drinks  {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

/* divs in menu.js only*/
.meals .category-title {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.drinks {
  padding-bottom: 10px;
}